<ul class="menu">

	<li n:if="$presenter->isAllowed('Default:default')">
		<a href="{link default}"{if $presenter->isLinkCurrent("Default:default")} class="active"{/if}>list</a>
	</li>

	<li n:if="$presenter->isAllowed('Default:create')">
		<a href="{link create}"{if $presenter->isLinkCurrent("Default:create")} class="active"{/if}>new item</a>
	</li>

</ul>
